.slider {
  &__slides-wrapper {
    width: 100%;
    overflow: hidden;
  }

  &__slides {
    width: 600%;
    display: flex;
    transition: all 0.5s ease-in-out;
  }

  &__nav {
    margin: 60px 0 0 0;
  }
}

.nav {
  @include flex(center, center);
}

.controls {
  @include flex(space-between, center);
  max-width: 985px;
  flex: 1 1 auto;
}

.bar {
  width: 124px;
  @include flex(flex-start, center, column);
  gap: 5px;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }

  &__country-name {
    margin: 0;
    @include font(14px, 16px, 700);
    opacity: 0.5;
  }

  &:hover {
    &::before {
      background-color: $brand-color;
      filter: blur(40px);
    }

    .bar__country-name {
      opacity: 0;
    }
  }
}

.inside-bar {
  width: 90px;
  height: 70px;
  position: relative;
  z-index: 10;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(1);
  transform-origin: top;
  transition: all 0.3s ease;

  &_1 {
    background-image: url(../../assets/img/flags/ussr_small.png);
  }
  &_2 {
    background-image: url(../../assets/img/flags/germany_small.png);
  }
  &_3 {
    background-image: url(../../assets/img/flags/usa_small.png);
  }
  &_4 {
    background-image: url(../../assets/img/flags/france_small.png);
  }
  &_5 {
    background-image: url(../../assets/img/flags/gb_small.png);
  }
  &_6 {
    background-image: url(../../assets/img/flags/сzech_small.png);
  }
}

.bar:hover .inside-bar {
  transform: scale(1.38);
  position: relative;
  z-index: 10;
}

#radio1:checked ~ .slider .slider__slides {
  margin-left: 0;
}
#radio2:checked ~ .slider .slider__slides {
  margin-left: -100%;
}
#radio3:checked ~ .slider .slider__slides {
  margin-left: -200%;
}
#radio4:checked ~ .slider .slider__slides {
  margin-left: -300%;
}
#radio5:checked ~ .slider .slider__slides {
  margin-left: -400%;
}
#radio6:checked ~ .slider .slider__slides {
  margin-left: -500%;
}

#radio1:checked ~ .slider .bar_1,
#radio2:checked ~ .slider .bar_2,
#radio3:checked ~ .slider .bar_3,
#radio4:checked ~ .slider .bar_4,
#radio5:checked ~ .slider .bar_5,
#radio6:checked ~ .slider .bar_6 {
  &::before {
    content: '';
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
    background-color: $brand-color;
    filter: blur(40px);
  }

  .bar__country-name {
    opacity: 0;
  }

  .inside-bar {
    transform: scale(1.38);
  }
}
